/*
Authors: Jonathan Ishii, Matthew Mikulka
Contact: jtishii@csu.fullerton.edu, mattmikulka@gmail.com
Description: This files applies formatting to the webpage
*/

body {
  text-align: center;
  font-family: sans-serif;
}
canvas {
  background-color: white;
}
h1 {
  text-align: center;
}

h4 {
  text-align: center;
}
