/*
Authors: Jonathan Ishii, Matthew Mikulka
Contact: jtishii@csu.fullerton.edu, mattmikulka@gmail.com
Description: This files applies formatting to the webpage
*/

#navbar {
  z-index: 3;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background: transparent;

  text-align: center;
}

#navbar text {
  font-size: 100px;
}

.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top paddng to the page content to prevent sudden quick movement 
  (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

#mysteryButton {
  border: solid 5px black;
  background-color: #f44430 ;
  color: yellow;
  padding: 30px 60px;
  text-align: center;
  font-size: 16px;
  margin-left: 40px;
  margin-bottom: 30px;
  /* makes the pointer into a hand to make it more button feely. yay ux/ui */
  cursor: pointer; 
}

#mysteryButton:hover {
  background-color: red;
}

#stepButton {
  border: solid 5px black;
  background-color: #4CAF51;
  color: white;
  padding: 30px 60px;
  text-align: center;
  font-size: 16px;
  margin-right: 40px;
  margin-bottom: 30px;
  /* makes the pointer into a hand to make it more button feely. yay ux/ui */
  cursor: pointer; 
}

#stepButton:hover {
  background-color: green;
}

h4 {
  text-align: center;
}

body {
  text-align: center;
  font-family: sans-serif;
}

canvas {
  z-index: 0;
  padding: 10px;
}

.algoTitles{
  display: block;
  width: 100%;
  font-size: 40px;
}

.column{
  position: relative;
  float: left;
  width: 33.3%;
  margin-bottom: 100px;
}
